
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
body{
  background-color: #fdd816;
  animation: windows 15s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
h1{
  text-align: center;
  margin-top: 30px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.git_item {
  min-height: 700px;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 40px 0;
}
img {
  width: 300px;
  animation: move 5s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  
}
.git_text {
  width: 50%;
  text-align: justify;
  text-indent: 30px;
}
@keyframes move{
  from{transform: translateX(-250px);}
  to{ transform: translateX(200px);}

}
@keyframes windows{
  25%{background-color:rgb(130, 138, 24); color: darkslategray;}
  25%{background-color:rgb(18, 146, 7); color: thistle;}
  25%{background-color:rgb(49, 74, 143); color: seashell;}
  25%{background-color:rgb(151, 59, 59); color: silver;}

}

